<?xml version="1.0" encoding="utf-8" ?>
<siteMap>
  <siteMapNode SystemName="Home" SmiResource="Admin.Home" controller="Home" action="Overview">
    <siteMapNode SystemName="Dashboard" SmiResource="Admin.Dashboard" controller="Home" action="Index" IconClass="fa-desktop" />
    <siteMapNode SystemName="Catalog" SmiResource="Admin.Catalog" PermissionNames="ManageProducts,ManageCategories,ManageManufacturers,ManageProductReviews,ManageProductTags,ManageAttributes" IconClass="fa-book" >
      <siteMapNode SystemName="Products" SmiResource="Admin.Catalog.Products" PermissionNames="ManageProducts" controller="Product" action="List" IconClass="fa-dot-circle-o"/>
      <siteMapNode SystemName="Categories" SmiResource="Admin.Catalog.Categories" PermissionNames="ManageCategories" controller="Category" action="List" IconClass="fa-dot-circle-o"/>
      <siteMapNode SystemName="Manufacturers" SmiResource="Admin.Catalog.Manufacturers" PermissionNames="ManageManufacturers" controller="Manufacturer" action="List" IconClass="fa-dot-circle-o"/>
      <siteMapNode SystemName="Product reviews" SmiResource="Admin.Catalog.ProductReviews" PermissionNames="ManageProductReviews" controller="ProductReview" action="List" IconClass="fa-dot-circle-o"/>
      <siteMapNode SystemName="Product tags" SmiResource="Admin.Catalog.ProductTags" PermissionNames="ManageProductTags" controller="Product" action="ProductTags" IconClass="fa-dot-circle-o"/>      
      <siteMapNode SystemName="Attributes" SmiResource="Admin.Catalog.Attributes" PermissionNames="ManageAttributes" IconClass="fa-dot-circle-o">
        <siteMapNode SystemName="Product attributes" SmiResource="Admin.Catalog.Attributes.ProductAttributes" controller="ProductAttribute" action="List" IconClass="fa-genderless"/>
        <siteMapNode SystemName="Specification attributes" SmiResource="Admin.Catalog.Attributes.SpecificationAttributes" controller="SpecificationAttribute" action="List" IconClass="fa-genderless"/>
        <siteMapNode SystemName="Checkout attributes" SmiResource="Admin.Catalog.Attributes.CheckoutAttributes" controller="CheckoutAttribute" action="List" IconClass="fa-genderless"/>
      </siteMapNode>
    </siteMapNode>
    <siteMapNode SystemName="Sales" SmiResource="Admin.Sales" PermissionNames="ManageOrders,ManageRecurringPayments,ManageReturnRequests,ManageGiftCards,ManageCurrentCarts" IconClass="fa-shopping-cart">
      <siteMapNode SystemName="Orders" SmiResource="Admin.Orders" PermissionNames="ManageOrders" controller="Order" action="List"  IconClass="fa-dot-circle-o"/>
      <siteMapNode SystemName="Shipments" SmiResource="Admin.Orders.Shipments.List" PermissionNames="ManageOrders" controller="Order" action="ShipmentList"  IconClass="fa-dot-circle-o"/>
      <siteMapNode SystemName="Return requests" SmiResource="Admin.ReturnRequests" PermissionNames="ManageReturnRequests" controller="ReturnRequest" action="List"  IconClass="fa-dot-circle-o"/>
      <siteMapNode SystemName="Recurring payments" SmiResource="Admin.RecurringPayments" PermissionNames="ManageRecurringPayments" controller="RecurringPayment" action="List"  IconClass="fa-dot-circle-o"/>
      <siteMapNode SystemName="Gift cards" SmiResource="Admin.GiftCards" PermissionNames="ManageGiftCards" controller="GiftCard" action="List"  IconClass="fa-dot-circle-o"/>
      <siteMapNode SystemName="Current shopping carts and wishlists" SmiResource="Admin.CurrentCarts.CartsAndWishlists" PermissionNames="ManageCurrentCarts" controller="ShoppingCart" action="CurrentCarts"  IconClass="fa-dot-circle-o"/>      
    </siteMapNode>
    <siteMapNode SystemName="Customers" SmiResource="Admin.Customers" PermissionNames="ManageCustomers, ManageVendors, ManageActivityLog" IconClass="fa-user" >
      <siteMapNode SystemName="Customers list" SmiResource="Admin.Customers.Customers" PermissionNames="ManageCustomers" controller="Customer" action="List" IconClass="fa-dot-circle-o" />
      <siteMapNode SystemName="Customer roles" SmiResource="Admin.Customers.CustomerRoles" PermissionNames="ManageCustomers" controller="CustomerRole" action="List" IconClass="fa-dot-circle-o" />
      <siteMapNode SystemName="Online customers" SmiResource="Admin.Customers.OnlineCustomers" PermissionNames="ManageCustomers" controller="OnlineCustomer" action="List" IconClass="fa-dot-circle-o" />      
      <siteMapNode SystemName="Vendors" SmiResource="Admin.Vendors" PermissionNames="ManageVendors" controller="Vendor" action="List" IconClass="fa-dot-circle-o" />
      <siteMapNode SystemName="Activity logs" SmiResource="Admin.Customers.ActivityLog" PermissionNames="ManageActivityLog" controller="ActivityLog" action="ActivityLogs" IconClass="fa-dot-circle-o"/>
      <siteMapNode SystemName="Activity types" SmiResource="Admin.Customers.ActivityLogType" PermissionNames="ManageActivityLog" controller="ActivityLog" action="ActivityTypes" IconClass="fa-dot-circle-o"/>
      <siteMapNode SystemName="GDPR log" SmiResource="Admin.Customers.GdprLog" PermissionNames="ManageCustomers" controller="Customer" action="GdprLog" IconClass="fa-dot-circle-o" />
    </siteMapNode>
    <siteMapNode SystemName="Promotions" SmiResource="Admin.Promotions" PermissionNames="ManageAffiliates, ManageNewsletterSubscribers, ManageCampaigns, ManageDiscounts" IconClass="fa-tags">
      <siteMapNode SystemName="Discounts" SmiResource="Admin.Promotions.Discounts" PermissionNames="ManageDiscounts" controller="Discount" action="List" IconClass="fa-dot-circle-o" />
      <siteMapNode SystemName="Affiliates" SmiResource="Admin.Affiliates" PermissionNames="ManageAffiliates" controller="Affiliate" action="List" IconClass="fa-dot-circle-o" />
      <siteMapNode SystemName="Newsletter subscriptions" SmiResource="Admin.Promotions.NewsletterSubscriptions" PermissionNames="ManageNewsletterSubscribers" controller="NewsLetterSubscription" action="List"  IconClass="fa-dot-circle-o"/>
      <siteMapNode SystemName="Campaigns" SmiResource="Admin.Promotions.Campaigns" PermissionNames="ManageCampaigns" controller="Campaign" action="List"  IconClass="fa-dot-circle-o"/>
    </siteMapNode>
    <siteMapNode SystemName="Content Management" SmiResource="Admin.ContentManagement" PermissionNames="ManagePolls, ManageNews, ManageBlog, ManageTopics, ManageForums, ManageMessageTemplates" IconClass="fa-cubes">
      <siteMapNode SystemName="Topics" SmiResource="Admin.ContentManagement.Topics" PermissionNames="ManageTopics" controller="Topic" action="List" IconClass="fa-dot-circle-o" />
      <siteMapNode SystemName="Message templates" SmiResource="Admin.ContentManagement.MessageTemplates" PermissionNames="ManageMessageTemplates" controller="MessageTemplate" action="List"  IconClass="fa-dot-circle-o"/>
      <siteMapNode SystemName="News items" SmiResource="Admin.ContentManagement.News.NewsItems" PermissionNames="ManageNews" controller="News" action="NewsItems" IconClass="fa-dot-circle-o"/>
      <siteMapNode SystemName="News comments" SmiResource="Admin.ContentManagement.News.Comments" PermissionNames="ManageNews" controller="News" action="NewsComments" IconClass="fa-dot-circle-o"/>
      <siteMapNode SystemName="Blog posts" SmiResource="Admin.ContentManagement.Blog.BlogPosts" PermissionNames="ManageBlog" controller="Blog" action="BlogPosts" IconClass="fa-dot-circle-o"/>      
      <siteMapNode SystemName="Blog comments" SmiResource="Admin.ContentManagement.Blog.Comments" PermissionNames="ManageBlog" controller="Blog" action="BlogComments" IconClass="fa-dot-circle-o"/>      
      <siteMapNode SystemName="Polls" SmiResource="Admin.ContentManagement.Polls" PermissionNames="ManagePolls" controller="Poll" action="List"  IconClass="fa-dot-circle-o"/>
      <siteMapNode SystemName="Manage forums" SmiResource="Admin.ContentManagement.Forums" PermissionNames="ManageForums" controller="Forum" action="List"  IconClass="fa-dot-circle-o"/>
    </siteMapNode>    
    <siteMapNode SystemName="Configuration" SmiResource="Admin.Configuration" PermissionNames="ManageCountries,ManageLanguages,ManageSettings,ManagePaymentMethods,ManageExternalAuthenticationMethods,ManageWidgets,ManageTaxSettings,ManageShippingSettings,ManageCurrencies,ManageACL,ManageEmailAccounts,ManagePlugins"
       IconClass="fa-gears">
      <siteMapNode SystemName="Settings" SmiResource="Admin.Configuration.Settings" PermissionNames="ManageSettings" IconClass="fa-dot-circle-o" >
        <siteMapNode SystemName="General settings" SmiResource="Admin.Configuration.Settings.GeneralCommon" controller="Setting" action="GeneralCommon" IconClass="fa-genderless"/>
        <siteMapNode SystemName="Customer and user settings" SmiResource="Admin.Configuration.Settings.CustomerUser" controller="Setting" action="CustomerUser" IconClass="fa-genderless"/>
        <siteMapNode SystemName="Order settings" SmiResource="Admin.Configuration.Settings.Order" controller="Setting" action="Order" IconClass="fa-genderless"/>
        <siteMapNode SystemName="Shipping settings" SmiResource="Admin.Configuration.Settings.Shipping" controller="Setting" action="Shipping" IconClass="fa-genderless"/>
        <siteMapNode SystemName="Tax settings" SmiResource="Admin.Configuration.Settings.Tax" controller="Setting" action="Tax" IconClass="fa-genderless"/>
        <siteMapNode SystemName="Catalog settings" SmiResource="Admin.Configuration.Settings.Catalog" controller="Setting" action="Catalog" IconClass="fa-genderless"/>
        <siteMapNode SystemName="Shopping cart settings" SmiResource="Admin.Configuration.Settings.ShoppingCart" controller="Setting" action="ShoppingCart" IconClass="fa-genderless"/>
        <siteMapNode SystemName="Reward points" SmiResource="Admin.Configuration.Settings.RewardPoints" controller="Setting" action="RewardPoints" IconClass="fa-genderless"/>
        <siteMapNode SystemName="GDPR settings" SmiResource="Admin.Configuration.Settings.Gdpr" controller="Setting" action="Gdpr" IconClass="fa-genderless"/>
        <siteMapNode SystemName="Vendor settings" SmiResource="Admin.Configuration.Settings.Vendor" controller="Setting" action="Vendor" IconClass="fa-genderless"/>
        <siteMapNode SystemName="Blog settings" SmiResource="Admin.Configuration.Settings.Blog" controller="Setting" action="Blog" IconClass="fa-genderless"/>
        <siteMapNode SystemName="News settings" SmiResource="Admin.Configuration.Settings.News" controller="Setting" action="News" IconClass="fa-genderless"/>
        <siteMapNode SystemName="Forums settings" SmiResource="Admin.Configuration.Settings.Forums" controller="Setting" action="Forum" IconClass="fa-genderless"/>
        <siteMapNode SystemName="Media settings" SmiResource="Admin.Configuration.Settings.Media" controller="Setting" action="Media" IconClass="fa-genderless"/>
        <siteMapNode SystemName="All settings" SmiResource="Admin.Configuration.Settings.AllSettings" controller="Setting" action="AllSettings" IconClass="fa-genderless"/>
      </siteMapNode>
      <siteMapNode SystemName="Email accounts" SmiResource="Admin.Configuration.EmailAccounts" PermissionNames="ManageEmailAccounts" controller="EmailAccount" action="List" IconClass="fa-dot-circle-o"/>
      <siteMapNode SystemName="Stores" SmiResource="Admin.Configuration.Stores" PermissionNames="ManageStores" controller="Store" action="List" IconClass="fa-dot-circle-o"/>
      <siteMapNode SystemName="Countries" SmiResource="Admin.Configuration.Countries" PermissionNames="ManageCountries" controller="Country" action="List" IconClass="fa-dot-circle-o"/>
      <siteMapNode SystemName="Languages" SmiResource="Admin.Configuration.Languages" PermissionNames="ManageLanguages" controller="Language" action="List" IconClass="fa-dot-circle-o"/>
      <siteMapNode SystemName="Currencies" SmiResource="Admin.Configuration.Currencies" PermissionNames="ManageCurrencies" controller="Currency" action="List" IconClass="fa-dot-circle-o"/>      
      
      <siteMapNode SystemName="Payment methods" SmiResource="Admin.Configuration.Payment.Methods" PermissionNames="ManagePaymentMethods" controller="Payment" action="Methods" IconClass="fa-dot-circle-o"/>
      <siteMapNode SystemName="Payment restrictions" SmiResource="Admin.Configuration.Payment.MethodRestrictions" PermissionNames="ManagePaymentMethods" controller="Payment" action="MethodRestrictions" IconClass="fa-dot-circle-o"/>

      <siteMapNode SystemName="Tax providers" SmiResource="Admin.Configuration.Tax.Providers" PermissionNames="ManageTaxSettings" controller="Tax" action="Providers" IconClass="fa-dot-circle-o"/>
      <siteMapNode SystemName="Tax categories" SmiResource="Admin.Configuration.Tax.Categories" PermissionNames="ManageTaxSettings" controller="Tax" action="Categories" IconClass="fa-dot-circle-o"/>
      <siteMapNode SystemName="Shipping" SmiResource="Admin.Configuration.Shipping" PermissionNames="ManageShippingSettings" IconClass="fa-dot-circle-o">
        <siteMapNode SystemName="Shipping providers" SmiResource="Admin.Configuration.Shipping.Providers"  controller="Shipping" action="Providers" IconClass="fa-genderless"/>
        <siteMapNode SystemName="Warehouses" SmiResource="Admin.Configuration.Shipping.Warehouses" controller="Shipping" action="Warehouses" IconClass="fa-genderless"/>
        <siteMapNode SystemName="Pickup points" SmiResource="Admin.Configuration.Shipping.PickupPoints"  controller="Shipping" action="PickupPointProviders" IconClass="fa-genderless"/>
        <siteMapNode SystemName="Dates and ranges" SmiResource="Admin.Configuration.Shipping.DatesAndRanges" controller="Shipping" action="DatesAndRanges" IconClass="fa-genderless"/>
        <siteMapNode SystemName="Measures" SmiResource="Admin.Configuration.Shipping.Measures" controller="Measure" action="List"  IconClass="fa-genderless" />
      </siteMapNode>
      <siteMapNode SystemName="Access control list" SmiResource="Admin.Configuration.ACL" PermissionNames="ManageACL" controller="Security" action="Permissions" IconClass="fa-dot-circle-o" />
      <siteMapNode SystemName="Widgets" SmiResource="Admin.ContentManagement.Widgets" PermissionNames="ManageWidgets" controller="Widget" action="List"  IconClass="fa-dot-circle-o"/>
      <siteMapNode SystemName="External authentication methods" SmiResource="Admin.Configuration.ExternalAuthenticationMethods" PermissionNames="ManageExternalAuthenticationMethods" controller="ExternalAuthentication" action="Methods" IconClass="fa-dot-circle-o"/>
      <siteMapNode SystemName="Local plugins" SmiResource="Admin.Configuration.Plugins.Local" PermissionNames="ManagePlugins" controller="Plugin" action="List"  IconClass="fa-dot-circle-o"/>
      <siteMapNode SystemName="All plugins and themes" SmiResource="Admin.Configuration.Plugins.OfficialFeed" PermissionNames="ManagePlugins" controller="Plugin" action="OfficialFeed"  IconClass="fa-dot-circle-o"/>
    </siteMapNode>
    <siteMapNode SystemName="System" SmiResource="Admin.System" PermissionNames="ManageSystemLog,ManageMessageQueue,ManageMaintenance,ManageScheduleTasks" IconClass="fa-cube">
      <siteMapNode SystemName="System information" SmiResource="Admin.System.SystemInfo" PermissionNames="ManageMaintenance" controller="Common" action="SystemInfo"  IconClass="fa-dot-circle-o"/>
      <siteMapNode SystemName="Log" SmiResource="Admin.System.Log" PermissionNames="ManageSystemLog" controller="Log" action="List"  IconClass="fa-dot-circle-o"/>
      <siteMapNode SystemName="Warnings" SmiResource="Admin.System.Warnings" PermissionNames="ManageMaintenance" controller="Common" action="Warnings"  IconClass="fa-dot-circle-o"/>
      <siteMapNode SystemName="Maintenance" SmiResource="Admin.System.Maintenance" PermissionNames="ManageMaintenance" controller="Common" action="Maintenance"  IconClass="fa-dot-circle-o"/>
      <siteMapNode SystemName="Queued emails" SmiResource="Admin.System.QueuedEmails" PermissionNames="ManageMessageQueue" controller="QueuedEmail" action="List"  IconClass="fa-dot-circle-o"/>
      <siteMapNode SystemName="Schedule tasks" SmiResource="Admin.System.ScheduleTasks" PermissionNames="ManageScheduleTasks" controller="ScheduleTask" action="List"  IconClass="fa-dot-circle-o"/>
      <siteMapNode SystemName="Search engine friendly names" SmiResource="Admin.System.SeNames" PermissionNames="ManageMaintenance" controller="Common" action="SeNames"  IconClass="fa-dot-circle-o"/>
      <siteMapNode SystemName="Templates" SmiResource="Admin.System.Templates" PermissionNames="ManageMaintenance" controller="Template" action="List" IconClass="fa-dot-circle-o"/>     
    </siteMapNode>
    <siteMapNode SystemName="Reports" SmiResource="Admin.Reports" PermissionNames="ManageProducts,ManageOrders,OrderCountryReport,ManageCustomers" IconClass="fa-line-chart">
      <siteMapNode SystemName="Low stock" SmiResource="Admin.Reports.LowStock" PermissionNames="ManageProducts" controller="Report" action="LowStock" IconClass="fa-dot-circle-o"/>
      <siteMapNode SystemName="Bestsellers" SmiResource="Admin.Reports.Sales.Bestsellers" PermissionNames="ManageOrders" controller="Report" action="Bestsellers" IconClass="fa-dot-circle-o"/>
      <siteMapNode SystemName="Products never purchased" SmiResource="Admin.Reports.Sales.NeverSold" PermissionNames="ManageOrders" controller="Report" action="NeverSold" IconClass="fa-dot-circle-o"/>
      <siteMapNode SystemName="Country sales" SmiResource="Admin.Reports.Sales.Country" PermissionNames="OrderCountryReport" controller="Report" action="CountrySales" IconClass="fa-dot-circle-o"/>
      <siteMapNode SystemName="Customers" SmiResource="Admin.Reports.Customers" PermissionNames="ManageCustomers" IconClass="fa-dot-circle-o">
        <siteMapNode SystemName="Registered customers" SmiResource="Admin.Reports.Customers.RegisteredCustomers" PermissionNames="ManageCustomers" controller="Report" action="RegisteredCustomers" IconClass="fa-dot-circle-o" />
        <siteMapNode SystemName="Customers by order total" SmiResource="Admin.Reports.Customers.BestBy.BestByOrderTotal" PermissionNames="ManageCustomers" controller="Report" action="BestCustomersByOrderTotal" IconClass="fa-dot-circle-o" />
        <siteMapNode SystemName="Customers by number of orders" SmiResource="Admin.Reports.Customers.BestBy.BestByNumberOfOrders" PermissionNames="ManageCustomers" controller="Report" action="BestCustomersByNumberOfOrders" IconClass="fa-dot-circle-o" />
      </siteMapNode>
    </siteMapNode>
    <siteMapNode SystemName="Help" SmiResource="Admin.Help" IconClass="fa-question-circle">
      <siteMapNode SystemName="Help topics" SmiResource="Admin.Help.Topics" url="https://docs.SmiMarketplace.com?utm_source=admin-panel&amp;utm_medium=menu&amp;utm_campaign=admin-panel"  IconClass="fa-dot-circle-o" OpenUrlInNewTab="true"/>
      <siteMapNode SystemName="Community forums" SmiResource="Admin.Help.Forums" url="https://www.SmiMarketplace.com/boards?utm_source=admin-panel&amp;utm_medium=menu&amp;utm_campaign=admin-panel"  IconClass="fa-dot-circle-o" OpenUrlInNewTab="true"/>
      <siteMapNode SystemName="Premium support services" SmiResource="Admin.Help.SupportServices" url="https://www.SmiMarketplace.com/SmiMarketplace-premium-support-services?utm_source=admin-panel&amp;utm_medium=menu&amp;utm_campaign=admin-panel"  IconClass="fa-dot-circle-o" OpenUrlInNewTab="true"/>
    </siteMapNode>
    <siteMapNode SystemName="Third party plugins" SmiResource="Admin.Plugins" IconClass="fa-bars" />
  </siteMapNode>
</siteMap>

