@model AffiliateModel

<div class="panel-body">
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-body">
                @if (Model.Id > 0)
                {
                    <div class="form-group">
                        <div class="col-md-3">
                            <Smi-label asp-for="Url" />
                        </div>
                        <div class="col-md-9">
                            <div class="form-text-row">@Model.Url</div>
                        </div>
                    </div>
                }
                <div class="form-group">
                    <div class="col-md-3">
                        <Smi-label asp-for="Active" />
                    </div>
                    <div class="col-md-9">
                        <Smi-editor asp-for="Active" />
                        <span asp-validation-for="Active"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-body">
                <Smi-editor asp-for="Address" asp-template="Address" />
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="form-group">
                    <div class="col-md-3">
                        <Smi-label asp-for="AdminComment" />
                    </div>
                    <div class="col-md-9">
                        <Smi-textarea asp-for="AdminComment"></Smi-textarea>
                        <span asp-validation-for="AdminComment"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <Smi-label asp-for="FriendlyUrlName" />
                    </div>
                    <div class="col-md-9">
                        <Smi-editor asp-for="FriendlyUrlName" />
                        <span asp-validation-for="FriendlyUrlName"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
